.box {
    display: block;
    justify-content: space-around;
    padding: 10px;
    border:none;
    margin:0 auto;
    border-radius: 10px;
    background-color:white;
  }
.page{
  padding: 50px;
}
.topnav{
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
li {
  float:left;
}
li .navtext{
  display:block;
  color:white;
  text-align:center;
  padding:10px 15px;
  text-decoration: none;
  font-weight: bold;
}
li .navtext:hover:not(.active){
  background-color: green;
  color:white;
}
li .navtext span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
li .navtext span:after{
  content:'\00bb';
  position: absolute;
  color:white;
  opacity:0;
  top:0;
  right:-20px;
  transition:0.5s;
}
li .navtext:hover span{
  padding-right:25px;
}
li .navtext:hover span:after{
  opacity:1;
  right:0;
}
.buttonwarning{
  background-color: red;
  border: none;
  color:white;
  padding:10px 15px;
  text-align: center;
  font-weight: bold;
  opacity: 1;
  float:right;
  margin-top:5px;
}
.buttonwarning:hover{opacity: 0.8;}
.buttonnormal{
  background-color: green;
  border: none;
  color:white;
  padding:10px 15px;
  text-align: center;
  display:inline-block;
  font-weight: bold;
  opacity: 1;
}
.buttonnormal:hover{opacity: 0.8;}
legend{
  font-weight: bold;
  font-size: 200%;

}
.buttonlogout{background-color:green;
  border: none;
  color:white;
  padding:10px 15px;
  text-align: center;
  display:inline-block;
  font-weight: bold;
  opacity: 1;
}
.buttonlogout:hover{opacity: 0.8;}
fieldset{
  border-radius: 5px;
  width: 350px;
  margin: auto;
}
.profile{
  float:right;
}
.middle{
  display:flex;
  align-items:center;
  justify-content: center;
}
.bold{
  font-weight: bold;
}
section{
  background-repeat:no-repeat;
}
.rows .row{
  display: flex
}
.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}
.list{
  overflow-y:scroll;
  height: 500px;
}
.list1{
  overflow-y:scroll;
  height: 450px;
}
.logout {
  display:block;
  color:white;
  text-align:center;
  padding:10px 15px;
  text-decoration: none;
  font-weight: bold;
}
.logout:hover:not(.active){
  background-color: red;
  color:white;
}
.logout span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.logout span:after{
  content:'\00bb';
  position: absolute;
  color:white;
  opacity:0;
  top:0;
  right:-20px;
  transition:0.5s;
}
.logout:hover span{
  padding-right:25px;
}
.logout:hover span:after{
  opacity:1;
  right:0;
}